.App {
  //   text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.axisGreyY line {
  stroke: none;
}

.axisGreyY path {
  stroke: grey;
}

.axisGreyY text {
  fill: none;
}

.axisGrey line {
  stroke: none;
}

.axisGrey path {
  stroke: grey;
}

.axisGrey text {
  fill: grey;
}

.inactive-section {
  font-family: "Noto Serif";
  font-size: 16px;
  color: #989898;
  line-height: 2;
}

.active-section {
  font-family: "Noto Serif";
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 2;
}

.upperSettings {
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;

  .modelOptions {
    padding-bottom: 8px;
    height: 100%;

    .options {
      width: 100%;
      display: inline-flex;
      justify-content: space-around;

      .text {
        text-align: center;
        font-weight: normal;
      }

      .text.MuiToggleButton-root {
        border: none;
        padding: 0px;
        font-style: normal;
        text-transform: none;
        border-radius: 0px;
        font-size: 16px;
        line-height: 2;
        color: #989898;
      }

      .text.MuiToggleButton-root.Mui-selected {
        font-weight: 500;
        color: black;
        background-color: #fafafa;
      }
    }
  }
  .threshold {
    .innerBox {
      padding-left: 10%;
      .options {
        padding-bottom: 8px;
        padding-top: 5px;
        .text {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    border-left: 1px solid lightgrey;
  }
}

.comparePGrid {
  text-align: left;
  padding-top: 50px;
}

// .compareWholePerformanceData{
//   font-size: 24px;
//   margin-top:5px;
// }

.sidePanel {
  width: 40%;
  padding-left: 2%;
  border-left: 1px solid lightgrey;
  display: inline-block;
  vertical-align: top;
  width: "43%";
}

#comparePerformanceSidePanel {
  .overallPerformance {
    .performanceBlock {
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .title {
      font-weight: bold;
    }

    .data {
      color: #656565;
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .groupPerformance {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    .classTitle {
      font-weight: bold;
      color: black;
    }
    .title {
      width: 75%;
      display: inline-block;
      font-weight: 400;
    }

    .data {
      width: 25%;
      font-size: 15px;
      display: inline-block;
      text-align: right;
      font-weight: 600;
    }
  }
}

.legendCard {
  margin-top: 30px;
  border: 2px solid lightgrey;
  padding: 0px 15px 15px 15px;
  span {
    margin-left: 5px;
    line-height: 1.5;
  }

  .legendMark {
    display: flex;

    align-items: center;
  }
}

#explorerLegend {
  position: absolute;
  bottom: 20px;
  background-color: white;
  width: 50%;
  right: 20px;
  span {
    margin-left: 10px;
    line-height: 1.5;
  }
}

.tooltip {
  background-color: red;
}

a {
  text-decoration: none;
}

.card {
  margin: 0% 20%;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #ddd;

  > * {
    margin: 10px 0px;
  }

  .MuiToggleButton-root.MuiButtonBase-root {
    margin: 0% 25%;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #ddd;
  }

  .MuiExpansionPanel-root.MuiExpansionPanel-rounded {
    box-shadow: none;
  }

  .MuiExpansionPanel-root:before {
    height: 0px;
  }

  .MuiExpansionPanelDetails-root {
    border: 1px solid black;
    margin: 0px;
    padding: 4px 8px;
  }

  .MuiExpansionPanelSummary-content {
    margin: 0px;
  }

  .MuiExpansionPanelSummary-root {
    min-height: 32px;
    padding: 0px;
    margin: 0px;
  }
}

.recommendOptions.MuiToggleButton-root.MuiButtonBase-root {
  background-color: #fff;
  border: 3px solid #ddd;
  text-align: left;
  padding: 0px;

  * {
    margin: 5px;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
  }

  h4 {
    font-size: 16px;
    color: black;
    font-weight: 700;
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
  }

  p {
    margin-bottom: 0px;
    color: #555;
    font-size: 12px;
  }

  img {
    margin: 0px;
    padding: 0px;
  }
}

.recommendOptions.MuiToggleButton-root.MuiButtonBase-root.Mui-selected {
  border: 3px solid blue;
}

.tooltip {
  font-size: 15px;
  width: 600px;
  background-color: #fff;
  border: 3px solid #ddd;
  display: block;
  padding: 5px;
  z-index: 5;

  tr {
    .diff-lineno {
      font-weight: bold;
    }

    .diff-marker {
      font-weight: bold;
    }

    .diff-context {
      border: 1px solid black;
    }

    .diff-deletedline {
      border: 1px solid orange;
    }

    .diff-addedline {
      border: 1px solid blue;
    }
  }
}
