.App {
  //   text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.axisGreyY line {
  stroke: none;
}

.axisGreyY path {
  stroke: grey;
}

.axisGreyY text {
  fill: none;
}

.axisGrey line {
  stroke: none;
}

.axisGrey path {
  stroke: grey;
}

.axisGrey text {
  fill: grey;
}

.inactive-section {
  font-family: "Noto Serif";
  font-size: 16px;
  color: #989898;
  line-height: 2;
}

.active-section {
  font-family: "Noto Serif";
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 2;
}

.upperSettings {
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;

  .modelOptions {
    margin-bottom: 8px;
    height: 100%;

    .options {
      width: 100%;
      display: inline-flex;
      justify-content: space-around;

      .text {
        text-align: center;
        font-weight: normal;
      }

      .text.MuiToggleButton-root {
        border: none;
        padding: 0px;
        font-style: normal;
        text-transform: none;
        border-radius: 0px;
        font-size: 16px;
        line-height: 2;
        color: #989898;
      }

      .text.MuiToggleButton-root.Mui-selected {
        font-weight: 600;
        color: black;
        background-color: #fafafa;
      }
    }
  }
  .threshold {
    .innerBox {
      padding-left: 10%;
      padding-right: 10%;
      .options {
        padding-bottom: 8px;
        padding-top: 5px;
        .text {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    border-left: 1px solid lightgrey;
  }
}

.comparePGrid {
  text-align: left;
  padding-top: 50px;
}

.sidePanel {
  width: 40%;
  padding-left: 2%;
  border-left: 1px solid lightgrey;
  display: inline-block;
  vertical-align: top;
  width: "43%";
}

#comparePerformanceSidePanel {
  .overallPerformance {
    .performanceBlock {
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .title {
      font-weight: bold;
    }

    .data {
      color: #656565;
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .groupPerformance {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    .classTitle {
      font-weight: bold;
      color: black;
    }
    .title {
      width: 75%;
      display: inline-block;
      font-weight: 400;
    }

    .data {
      width: 25%;
      font-size: 18px;
      display: inline-block;
      text-align: right;
      font-weight: 600;
    }
  }
}

.legendCard {
  margin-top: 30px;
  background-color: white;
  border: 3px solid lightgrey;
  padding: 0px 15px 15px 15px;

  span {
    margin-left: 5px;
    line-height: 1.5;
  }

  .legendMark {
    display: flex;

    align-items: center;
  }
}

#explorerLegend {
  position: absolute;
  bottom: 20px;
  background-color: white;
  width: 50%;
  right: 20px;
  span {
    margin-left: 10px;
    line-height: 1.5;
  }
}

a {
  text-decoration: none;
}

.card {
  padding: 20px;
  width: 24vw;
  background-color: #fff;
  border: 3px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  > * {
    margin: 0px;
    margin-top: 10px;
  }

  .MuiExpansionPanel-root.MuiExpansionPanel-rounded {
    box-shadow: none;
  }

  .MuiExpansionPanel-root.Mui-expanded {
    margin: 0px;
    min-height: 48px;
  }

  .MuiExpansionPanel-root:before {
    height: 0px;
  }

  .MuiExpansionPanelDetails-root {
    border: 1px solid black;
    margin: 0px;
    padding: 4px 8px;
  }

  .MuiExpansionPanelSummary-content.Mui-expanded,
  .MuiExpansionPanelSummary-content {
    margin: 0px;
  }

  .MuiExpansionPanelSummary-root {
    min-height: 32px;
    padding: 0px;
    margin: 0px;

    &.Mui-expanded {
      min-height: 48px;
    }
  }
}

.recommendOptions.MuiToggleButton-root.MuiButtonBase-root {
  background-color: #fff;
  border: 3px solid #ddd;
  text-align: left;
  padding: 15px;
  display: inline-block;
  min-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  * {
    margin: 0px;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
  }

  h4 {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 1.2;
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 14px;
    margin-top: 0px;
    line-height: 1.2;
  }

  p {
    margin-bottom: 0px;
    color: #555;
    font-size: 12px;
    line-height: 16px;
  }

  img {
    margin: 0px;
    padding: 0px;
  }
}

.recommendOptions.MuiToggleButton-root.MuiButtonBase-root.Mui-selected {
  border: 3px solid #3777a5;
}

.tooltip {
  font-size: 15px;
  background-color: #fff;
  border: 3px solid lightgrey;
  display: block;
  z-index: 5;
  max-height: 480px;
  width: 36vw;
  min-width: 360px;
  padding: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  overflow: auto;
  overflow-x: hidden;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .apirow {
    padding: 15px;
    padding-right: 30px;
  }

  > div * {
    margin: 10px 0px;
  }

  .main {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
  }

  .row {
    width: 100%;
    display: inline-flex;
    margin-bottom: 0px;

    div {
      width: 50%;
      margin: 0px;
    }
  }

  strong {
    text-transform: uppercase;
  }

  a {
    color: #3777a5;
    font-weight: bold;
    margin: 0px;
  }

  h5 {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    margin-top: 0px;
  }

  p {
    word-wrap: break-word;
    margin: 0px;
  }

  progress {
    width: 100%;
    margin-bottom: 0px;
  }

  svg {
    margin: 0px;
    margin-right: 10px;
  }

  tr.header {
    text-align: left;
    font-weight: bold;
    font-size: 11pt;
    text-transform: uppercase;

    td {
      padding-left: 0px;
    }

    .before {
      color: #c57619;
    }

    .after {
      color: #3777a5;
    }
  }

  tr {
    td {
      width: 40%;

      div {
        font-size: 9pt;
        width: 14vw;
        font-family: monospace;
        word-wrap: break-word;
      }
    }

    .diff-addedline {
      background-color: #e0f7e0;
    }

    .diff-deletedline {
      background-color: #f7e0e0;
    }

    .diff-context {
      background-color: #f0f0f0;
    }

    .diff-lineno {
      font-weight: bold;
      padding: 0px;
      padding-top: 4px;
    }

    .diff-marker {
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      width: 30px;
    }

    ins {
      color: #159256;
    }

    del {
      color: #921515;
    }

    .diffchange {
      font-weight: bold;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tooltip::-webkit-scrollbar {
  display: none;
}

.customLink {
  display: inline-flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;

  a {
    text-transform: uppercase;
    color: #1166ff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
  }

  a:hover {
    text-decoration: underline;
  }

  div {
    font-size: 20;
    color: #1166ff;
  }
}

.aboutPage {
  padding: 0px;

  .aboutSection {
    display: block;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 30px;
    align-items: center;
  }

  .container {
    display: inline-flex;

    .aboutSection {
      border-top: 1px solid lightgrey;
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }

  .boldText {
    font-weight: bold;
    font-size: 14px;
  }

  tr {
    margin-top: 20px;
    align-items: center;
  }

  .highlight {
    padding: 5px 8px;
    margin: 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .highlight.bad {
    background-color: rgba(255, 0, 0, 0.25);
    color: black;
  }

  .highlight.good {
    background-color: rgba(0, 255, 0, 0.25);
    color: black;
  }

  .oresTable {
    width: 90%;

    .aboutButton {
      display: inline-block;
      color: white;
      background-color: #555;
      font-size: 14px;
      padding: 7px;
      border-radius: 4px;
      width: 90px;
      text-align: center;
      margin: 0 auto;
    }

    .oresText {
      display: inline-block;
      font-size: 30px;
      font-weight: 500;
      color: grey;
      vertical-align: middle;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .arrow {
      color: #909090;
      font-size: 30px;
    }

    .DGgrid {
      display: inline-block;
      font-size: 14px;

      div div {
        width: auto;
        display: inline-block;
      }
    }
  }

  .thresList {
    display: inline-flex;
    align-items: center;
    margin-top: 0px;
    font-size: 14px;
    width: 90%;

    div {
      margin-right: 40px;

      div {
        display: inline-block;
        margin: 0px 10px 10px 0px;
      }
    }
  }

  .predTableElem {
    padding: 30px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 14px;
    margin: 0px;
    width: 35%;
    display: inline-flex;

    > *:not(div) {
      width: 30px;
      margin: 5px;
    }

    p {
      word-wrap: break-word;
    }
  }

  .predLegend {
    margin-top: 30px;
    width: 90%;
    tr td {
      display: inline-flex;
      width: 45%;

      * {
        height: 20px;
        margin: 0px 5px;
        align-items: center;
      }

      *:not(div) {
        margin: 3px 5px;
      }
    }

    .text {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      align-items: center;
      color: #444;
    }
  }
}

.pieChartElem {
  width: 50%;

  * {
    margin: 0px;
    font-weight: 500;
  }

  h5 {
    font-size: 15px;
  }

  .mainContainer {
    display: inline-flex;
    margin-top: 10px;

    *:not(svg) {
      margin-right: 15px;
    }

    .pieChart {
      width: 80px;
      height: 80px;
    }

    .rightSide {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;

      .scoreBox {
        display: inline-flex;
        align-items: baseline;

        h3 {
          font-size: 40px;
        }

        h6 {
          font-size: 20px;
        }
      }
    }
  }
}

.highlightForm.MuiFormGroup-root {
  flex-direction: row;
  justify-content: space-between;
}

p.metric {
  cursor: pointer;
  margin: 5px;

  em {
    margin-left: 20px;
    font-size: 12px;
  }
}

.myProgress.MuiLinearProgress-colorPrimary {
  background-color: #ddd;
  .MuiLinearProgress-barColorPrimary {
    background-color: #3777a5;
  }
}
